<!DOCTYPE html>
<html>
	<head>
	<title>ALG.SO 奥搜网 | 算法的应用商店</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "avalon", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
	<!-- <link rel="SHORTCUT ICON" href="assets/favicon.ico"> -->
	</head>

	<body>
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <a class="navbar-brand" href="/"><img alt="Brand" src="/favicon.ico" style="vertical-align: text-top; width:20px;"> ALG.SO</a>
        <ul class="nav navbar-nav">
          <li class="<%= 'active' if current_page?(search_path) %>"><a href="/search">找个算法</a></li>
          <li><a href="/">算法小店</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <%if !current_user.nil?%>
            <li class="<%= 'active' if current_page?(create_path) %>" style="margin-right:10px;"><a href="/create">创建我的算法</a></li>
            <%= render partial: "layouts/user" %>
          <%else%>
            <li class="<%= 'active' if current_page?(signin_path) || current_page?(login_path) %>"><a href="/signin">登录</a></li>
          <%end%>
        </ul>
      </div>
      
		</nav>
    <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <%= yield %>

    <footer class="footer">
      <div class="container">
          <p>© 2014 <a href="http://www.zhuple.com" target="_blank">竹简 Zhuple</a>. <a href="https://github.com/zhuple/def-alg.so" target="_blank">Github</a>.</p>
      </div>
    </footer>
	</body>

</html>
